/*formulario registro*/
.register{
	padding: 40px;
	border-top:2px solid #ff3386;
	border-bottom:2px solid #ff3386;
}

.register input, .register button{
	border-radius: 0px;
}


.content{
	border-radius: 5px;
	/*box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);*/
}

.info{
	padding: 40px;
	color: #ffffff;
	background: #ff3386
}

